body{
    margin: 0px;
    padding: 0px;
    margin-left: 2%;
}
@media screen and (max-width: 1920px){
#home{
    height: 75px;
}
.nav_principal ul{
    margin-left: 38%;
}
.nav_principal{
    margin: 2px;
    display: flex;
}
.nav_principal img{
    width: 114px;
    margin-left: 2%;
}
.nav_principal a{
    color: black;
    text-decoration: none;
    padding: 8px;
}
.nav_principal ul li{
    display: inline-block;
    font-size: 22px;
    font-weight: bold;

}
.orange{
    background-color:rgb(236, 124, 52);
    height: 150px;
    margin-left: 33px;
    margin-right: 26px;
}
.orange h1{
    color: white;
    padding: 8px;
    margin: 0px 1000px;

}
.bleu{
    display: flex;
    background-color: rgb(40, 79, 137);
    height: 640px;
    margin-left: 33px;
    margin-right: 26px;
}
.bleu img{
    
    width: 374px;
    height: 403px;
    position: relative;
    left: 506px;
    top: 140px;
}
.blanc{
    width: 532px;
    height: 700px;
    background-color: white;
    position: relative;
    left: 62px;
    top: -80px;
}
.blanc h2, h3{
    text-align: center;
}
.blanc h3{
    color: #4B92DF;
}
.blanc form{
    width: 100%;
    margin: 24px;
}
.blanc form #email, #password{
    height: 27px;
    width: 470px;
}
.blanc form #connexion{
    background-color: #4B92DF;
    color: white;
    margin: 0px 0px 0px 347px;
    width: 118px;
    height: 42px;
}
.blanc form #oublier{
    color: #4B92DF;
    margin: 23px;
}
.icones{
    display: inline-flex;
    margin: 12px;
    position: absolute;
    left: -312px;
    top: 333px;
}
.icones img{
    display: flex;
    width: 34px;
    height: 42px;
    margin: 3px;  
}
.connex h3{
    padding: 21px;
    margin: 41px 37px 77px 12px;
}
.connex h3 span{
    color: black;
}
#img1{
   background-image: #4B92DF;
}
}

@media screen and (max-width: 1475px)
{
    #bprinci
    {
        width: auto;
    }
}
@media screen and (max-width: 1475px)
{
   nav
    {
        width: 100%;
    }
    
    nav 
    {
        flex-direction: column;
    }

    nav li
    {
        width: 100%;
        border-right: none;
        border-left: none;
        margin-right: 0px;
        margin-left: 0px;
    } 
    
    nav a
    {
        font-size: 1.1em;
    }
    .nav_principal img {
        margin-left: 10%;
        height: 30px;
        width: 60px;
    }
    .orange{
        flex-direction: column;
    }
    .orange h1{
        text-align: center;
        margin: 126px 296px;
    }
    .bleu{
        flex-direction: column;
    }
    .bleu img{
        height: 70px;
        width: 70px;
        position: relative;
        top: -12%;
        left: 287px;
    }
    .icones{
        display: inline-flex;
        margin: 12px;
        position: absolute;
        left: -99px;
        top: 476px;
    }
    .icones img{
        display: flex;
        width: 34px;
        height: 42px;
        margin: 3px;  
    }
    .connex h3{
        padding: 21px;
        margin: 41px 37px 77px 12px;
    }
}