*{
    margin: 0;
    padding: 0;
}
header{
    margin: 0;
    width: 100%;
    height: 70px;
    background-color: white;
}
.navbar {
    width: 54%;
    float: right;
    margin: 10px 2px;
    font-size: 30px;
    padding-top: 70px;
}
li{
    display: inline-block;
    padding: 5px 20px;
}

a{
    float: right;
    color: #000000;
    text-decoration: none;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    margin-right: 16px;
}
.nav-blue{
    background-color: aliceblue;
    text-align: center;
    align-items: flex-start;
    float: none;
    width: 93%;
    height: 8vh;
    font-size: 20px;
    margin-left: 70px;
}

img{
    margin-bottom: 50px;
    width: 10%;
    margin-left: 70px;
}

.round{
    margin: 0 5px;
    display: inline-block;
    padding: 0.5rem;
    border: 2px solid blue;
    border-radius: 50%;
}

#rd1{
    background-color: blue;
}
/* ======================================================== CSS Sonhibou ==========================================*/
.question{
    padding-top: 100px;
}
.question hr{
    margin-left: 600px;
    margin-right: 600px;
    color: #e9cab8;
    border-radius: 20px;
}
.question h1{
    color : #6a91a7;
    text-align: center;
    font-size: 30px;
}
.question .p1{
    text-align: center;
    
}
.question .p2{
    text-align: center;
    
}
.site-orange{
    background: #f47a37;
    width: 94%;
    margin-left: 50px;
    height: 150px;
    display: flex;
    margin-top: 40px;
    border-radius: 10px;
}

.label{
    
    color: white;
    position: relative;
    flex: 1;
    font-size: 20px;
    padding-right: 150px;
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
}
.button{
    margin-left: 1569px;
}
.button input{
    margin-top: 40px;
    background: #0e5482;
    color: white;
    border-radius: 7px 0px 0px 7px;
    margin-left: 40%;
    width: 25%;
    height: 33px;
    font-size: 18px;
}
.btn-cpt{
    margin-top: -25px;
    margin-left: 850px;
 
}
.btn-cpt input{
    margin-top: -10px;
    background: #0e5482;
    color: white;
    border-radius: 0px 7px 7px 0px;
    margin-left: 89%;
    width: 50px;
    height: 33px;
    font-size: 18px;
}