

    body
{
    margin:1.5em;
    border: white solid 0.01em;
    font-size: large;
    box-sizing: border-box;
}
/* ------------------------------------------------------------header------------------------------------------------------------- */
@media screen and (max-width:1500px){

}

    header nav img
{
    max-width: 10em;
    min-width: 10em;
    
}


header nav ul
{
    display: flex;
    float: right;
}

@media screen and (min-width:900px){
    header nav ul li
{
    list-style: none;
    margin: 1em;

}
}

header nav ul li a
{
    text-decoration: none;
    color: black;
    font-weight: bold;
    

}
/* ------------------------------------------------------------section1-------------------------------------------------------------- */

/*  ------------------------------------------------------------------------- media queries --------------------------------------------------------*/
@media screen and (max-width:900px)
{
    body
    {
        margin:0.5em;
        font-size: large;
        box-sizing: border-box;
    }
    
    
        header nav ul li
    {
        list-style: none;
        margin: 0.5em;
    
    }
    header nav ul li a
    {
        text-decoration: none;
        color: black;
        font-size: small;
        
    }
    
    header nav ul
    {
        display: block;
        float: right;
    
    }

    section.recap
    {
    font-size: 0.5em;
    
    }
    #rec
    {
      margin-left: 4em;
    }

    section.list_recap ul.nav_recap
{
    list-style: none;
    flex-direction: column;
    font-size: 0.4em;
}
    
section.conteneur 
{
    margin-left:0% ;
}
section.quest 
{
    max-width: 10%;
}


section.quest div.Q1R1,section.quest div.Q2R2
{
    flex-direction: column;
    max-width: 20%;
    font-size: 0.5em;

}

section.quest div.Q2R2
{
    flex-direction: column;
    max-width: 20%;
    font-size: 0.5em;
    margin-left: 18em;

}

div.boutons
{
    display: flex;
    margin-top: 4em;
    margin-left: 7em;
}
div.blocq h2
{
    min-width:45em
}

}

/*  ------------------------------------------------------------------------- end media queries --------------------------------------------------------*/

section.cont
{
    background-color: #EE752C;
    font-size: 1em;
    min-height: 4em;
    min-width: 15em;

    
}

h1
{
    color: white;
}
/*  ------------------------------------------------------------------------- media queries --------------------------------------------------------*/

@media screen and (max-width:1120px)

 {

    section.recap
    {
    font-size: 0.7em;
    
    }
    #rec
    {
      margin-left: 4em;
    }

    section.list_recap ul.nav_recap
{
    list-style: none;
    display: flex;
    font-size: 0.7em;
}
    
section.conteneur 
{
    margin-left:0% ;
}
section.quest 
{
    max-width: 10%;
}


section.quest div.Q1R1,section.quest div.Q2R2
{
   display: flex;
    max-width: 20%;
    font-size: 0.7em;

}

section.quest div.Q2R2
{
    display: flex;
    max-width: 20%;
    font-size: 0.7em;


}

div.boutons
{
    display: flex;
    margin-top: 4em;
    margin-left: 1.5em;
}


}

/*  ------------------------------------------------------------------------- media queries --------------------------------------------------------*/


@media screen and (max-width:897px)
{
    section.cont
    {
        max-width: 15%;
        max-height: 5%;
    }
    section.recap
    {
    font-size: 0.5em;
    
    }
    #rec
    {
      margin-left: 4em;
    }

    section.list_recap ul.nav_recap
{
    list-style: none;
    flex-direction: column;
    font-size: 0.4em;
}
    
section.conteneur 
{
    margin-left:0% ;
}
section.quest 
{
    max-width: 10%;
}


section.quest div.Q1R1,section.quest div.Q2R2
{
    flex-direction: column;
    max-width: 20%;
    font-size: 0.5em;

}

section.quest div.Q2R2
{
    flex-direction: column;
    max-width: 20%;
    font-size: 0.5em;
    margin-left: 18em;

}

div.boutons
{
    display: flex;
    margin-top: 4em;
    margin-left: 3em;
}
div.blocq h2
{
    min-width:45em
}

}
/*  ------------------------------------------------------------------------- media queries --------------------------------------------------------*/

@media screen and (max-width:500px)
{
    section.cont
    {
        max-width: 15%;
        max-height: 5%;
    }
    section.recap
    {
    font-size: 0.5em;
    
    }
    #rec
    {
      margin-left: 4em;
    }

    section.list_recap ul.nav_recap
{
    list-style: none;
    flex-direction: column;
    font-size: 0.4em;
}
    
section.conteneur 
{
    margin-left:0% ;
}
section.quest 
{
    max-width: 10%;
}


section.quest div.Q1R1,section.quest div.Q2R2
{
    flex-direction: column;
    max-width: 20%;
    font-size: 0.5em;

}

section.quest div.Q2R2
{
    flex-direction: column;
    max-width: 20%;
    font-size: 0.5em;
    margin-left: 18em;

}

div.boutons
{
    display: flex;
    margin-top: 3em;
    margin-left: 1em;
    margin-bottom: 2em;

}
div.blocq h2
{
    min-width:45em
}
}
/*  ------------------------------------------------------------------------- end media queries --------------------------------------------------------*/

section.cont h1
{
    text-align: center;
    margin:0em;
    padding-top:0.6em;

}

#rec
{
    font-weight: bold;
    border: solid #EE752C ;
    margin-block-start: -1em;
    min-width: 3%;
    padding: 1em;
    font-size: 1.3em;
    background-color: white ;
    text-align: center;

}
section.recap
{
    margin-left: 38%;
    margin-bottom: 2.5%;

}
/* ------------------------------------------------------------navigation synthese-------------------------------------------------------------- */

@media screen and (max-width:902px) 
{
    section.list_recap ul.nav_recap
{
    float: left;
    display: flex;
    max-width: 10em;
    font-size: small;
}
section.list_recap ul.nav_recap div.blocnum
{
    margin-top: 0.5em;
}

section.list_recap
{
    flex-direction: column;
    margin:0em;
} 
section.conteneur 
{
    margin-left: 0%;
}
}



@media screen and (max-width:1500px)
{
    section.list_recap ul.nav_recap div.blocnum
{
    display: flex;
}


section.list_recap ul.nav_recap
{
    list-style: none;
    display: flex;
}
section.list_recap ul.nav_recap li._numb
{
    border: #0c497a solid ;
    border-radius: 100%;
    background-color:white;
    color: #0c497a;
    font-weight: bold;
    
}

section.list_recap ul.nav_recap li.num1
{
    border: #0c497a solid ;
    border-radius: 100%;
    background-color:#0c497a;
    color: white;
    font-weight: bold;
}
section.list_recap ul.nav_recap li a
{
    text-decoration: none;
    color: black;
}
section.list_recap ul.nav_recap li a#no1
{
    border-bottom: solid #EE752C 0.25em;
}
section.list_recap ul.nav_recap li
{
    padding: 0em;
    margin:0em
}
}

section.list_recap ul.nav_recap div.blocnum
{
    display: flex;
}


section.list_recap ul.nav_recap
{
    list-style: none;
    display: flex;
}
section.list_recap ul.nav_recap li
{
    padding-right: 0.3em;
    padding-left: 0.3em;
    margin-left: 0.5em;
    font-weight: bold;
}
section.list_recap ul.nav_recap li._numb
{
    border: #0c497a solid ;
    border-radius: 200%;
    background-color:white;
    color: #0c497a;
    font-weight: bold;
    max-height: 1em;

    
}

section.list_recap ul.nav_recap li.num1
{
    border: #0c497a solid ;
    border-radius: 100%;
    background-color:#0c497a;
    color: white;
    font-weight: bold;
    max-height: 1em;
}
section.list_recap ul.nav_recap li a
{
    text-decoration: none;
    color: black;
}
section.list_recap ul.nav_recap li a#no1
{
    border-bottom: solid #EE752C 0.25em;
}
section.list_recap
{
   min-width: 50%;

}
div.buttons
{
    margin-left: 3em;
}
/* ------------------------------------------------------------Questions reponses-------------------------------------------------------------- */

section.quest div.Q1R1,section.quest div.Q2R2
{
    display: flex;
}
section.quest div.Q1R1 p
{
    border: solid #EE752C;
    width: 20em;
    height: 8em;
    text-align: center ;
    padding-top: 0.5em;
    font-weight: bold;

}
section.quest div.Q2R2 p
{
    border: solid #9fa0a1;

    width: 20em;
    height: 8em;
    text-align: center ;
    padding-top: 0.5em;
    font-weight: bold;
    color:#9fa0a1 ;
}

section.quest div.Q1R1 div.blocq , section.quest div.Q2R2 div.blocq
{
    margin-left: 5em;

}

section.quest div.Q1R1 div.blocq h2 
{
    color: #0c497a;
}
section.quest div.Q2R2 div.blocq h2
{
    color: #9fa0a1;

}
div.boutons
{
    display: flex;
    margin-top: 6em;
}

button
{
   height: 3em;
   margin-right: 1em;
   margin-left: 2em;
   border-radius: 15%;
   max-width: 5em;
   background-color: white;
   font-weight: bold;
   font-size: 1.3em;

}
button a.col
{
    text-decoration: none;
    color: #EE752C;
}
button a.col1
{
    text-decoration: none;
    color: #0c497a ;
    
}button a
{
    text-decoration: none;
    color: #9fa0a1;
    
}
button.val
{
    border: #0c497a solid;
    
    
}
button.mod
{
    border:   #EE752C solid;
    
}

button.gris
{
   border: #9fa0a1 solid;
    color: #9fa0a1;

}

/* ------------------------------------------------------------pied de page img-------------------------------------------------------------- */

footer img.foot
{
    float: right;
}
section.conteneur
{
    margin-left: 5%;

}
